@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
:root{
    --header-height: 5rem;
    --white-color: #F7F6FB;
    --dark-green-color: #00754d;
    --light-green-color: #00CC86;
    --lighter-green-color: #99FFCC;
    --light-blue-color: #DAEAF7;
    --lighter-blue-color: #EDF6F7;
    --light-yellow-color: #F5F5F5;
    --light-red-color: red;
    --body-font: 'Nunito', sans-serif;
    --normal-font-color: #005E3E;
    --promotion-font-color: #990000;
    --normal-font-size: 1rem;
    --z-fixed: 80
}

*,::before,::after{
    box-sizing: border-box
}

a{
    text-decoration: none
}

.header{
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-green-color);
    color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.l-navbar{
    position: fixed;
    top: 25%;
    width: 40%
    height: 100vh;
    background-color: var(--light-green-color);
    padding: .5rem 1rem 0 0;transition: .5s;
    z-index: var(--z-fixed)
}

.nav{
    height: 100%;
    display: flex;flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo, .nav_link{
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem
}

.nav_logo{
    margin-bottom: 2rem
}

.nav_logo-icon{
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name{
    color: var(--white-color);
    font-weight: 700
}

.nav_link{
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;transition: .3s
}

.nav_link:hover{
    color: var(--white-color)
}

.nav_icon{
    font-size: 1.25rem
}

.show{
    left: 0
}

.body-pd{
    padding-left: calc(var(--nav-width) + 1rem)
}

.active{
    color: var(--dark-green-color)
}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;height: 32px;
    background-color: var(--white-color)
}

.height-100{
    height:100vh
}

@media screen and (min-width: 768px){
    .header{
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .l-navbar{
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show{
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd{
        padding-left: calc(var(--nav-width) + 188px)
    }
}

.body{
    padding:30px;
}

.footer {
    background-color: var(--dark-green-color);
    color: var(--white-color);
}

.background {
    height: 100vh;
    background-color: var(--light-yellow-color);
}

.side-background {
    height: 100vh;
    background-color: var(--light-blue-color);
}

.card {
    width: 90%;
    padding: 30 px;
    background-color: var(--lighter-blue-color);
    border-style:solid;
    border-radius: 25px;
    padding:10px;

}

.product_card{
    height:400px;
    position:relative;
}

.product_card_child{
    position:absolute; top:40%;
    height:10em;
    margin-top:-5em;
}

.border{
    border-style:solid;
    margin: 10px;
    text-align: center;
    vertical-align: baseline;
    border-color: white;
}

img{
    width: 100px;
    height: 100px;
    padding: 10px;
    border: solid;
    border-color: black;
}

.category{
    background-color: var(--lighter-green-color);
    height: 50px;

}

.product{
    background-color: var(--light-blue-color);
    height: 50px;

}

.description_product, .price{
    background-color: var(--light-blue-color);
    height: 100px;
    position: relative;

}

.existing_promotion, .new_promotion{
    height: 50px;
    position: relative;
    color:white;
    border-radius:20px;
    padding:5px;
}

.existing_promotion{
    background-color: var(--light-green-color);;
}

.new_promotion{
    background-color: var(--light-red-color);;
}


.old_price{
    text-decoration: line-through;
}

.prom_price {
    color: red;
    font-weight: bold;
}