<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> MERC'APP Product catalogue</title>

    <!-- Custom CSS -->
    <link href={{css_file}} rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>

</head>

<body>

    <div class="content col">

        <div class="col-md-2 side-background">
<!-- Navigation -->
            <div class="l-navbar" id="nav-bar">
                <nav class="nav">
                    <div>
                        <span class="nav_logo-name">Menu</span>
                        <div class="nav_list">
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('index') }}" class="nav_link active">
                                <i class='bx bx-grid-alt nav_icon'></i>
                                <span class="nav_name">Catalogue</span>
                            </a>

                            <a href="#" class="nav_link">
                                <i class='bx bx-message-square-detail nav_icon'></i>
                                <span class="nav_name">Trouver un magasin</span>
                            </a>
                            {% endif %}
                            <!-- We just want to have those tabs available if the admin is logged in-->
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('addpromotion') }}" class="nav_link active">
                                <i class='bx bx-user nav_icon'></i>
                                <span class="nav_name">Catalogue</span>
                            </a>
                            <a href="{{ url_for('addproduct') }}" class="nav_link active">
                                <i class='bx bx-grid-alt nav_icon'></i>
                                <span class="nav_name">Ajouter un produit</span>
                            </a>
                             <a href="{{ url_for('logout') }}" class="nav_link active">
                                <i class='bx bx-grid-alt nav_icon'></i>
                                <span class="nav_name">Log out</span>
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </nav>
            </div>
        </div>


<!-- Contents -->
        <div class="col-md-8 background text-center align-baseline">
            <div class="header col-md-12" id="header">
                <span> MERC'APP </span>
            </div>

            <div class="col-md-8">
                <span class="text-center">{{title}}</span>
            </div>
{% block content %}

{% endblock %}

        </div>
        <div class="lateral-col col-md-2 side-background"></div>

    </div>

<!-- Footer -->
    <footer>

        <div class="footer footer-below">
            <div class="row">
                <div class="socials col-md-6">
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Linkedin</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="/">Politique de confidentialité</a>
                    </div>
                    <div>
                        <a href="/">Conditions générales de vente</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page  -top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

</body>
</html>