{% extends 'base.html' %}

{% block content %}
            <div class="col-md-8">
                <span class="text-center">{{title}}</span>
            </div>

            {% for product in products %}

                <div class ="card col-md-6 ">
                    <div class="row">
                        <div class="col-md-3 image">
                            <img class="img-circle" src="{{product.picture}}">
                        </div>
                        <div class="col-md-3 border product">
                            <p>{{product.title}}</p>
                        </div>
                        <div class="col-md-3 align-middle border category">
                            <p>{{product.category}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 border description_product">
                            <p>{{product.description}}</p>
                        </div>
                        <div class="col-md-3 border price">
                            <p {% if product.promotion %} class="old_price"{% endif %}>{{product.price |float }} {{product.unit}}</p>
                            {% if product.promotion %}<p {% if product.promotion %} class="prom_price"{% endif %}>{% print(product.price * (1 - product.promotion))|round(2, 'floor') %} {{product.unit}}</p>{% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

{% endblock %}