<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> MERC'APP Product catalogue</title>

    <!-- Custom CSS -->
    <link href="../css/custom.css" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

    <div class="content col">

        <div class="col-md-2 side-background">
<!-- Navigation -->
            <div class="l-navbar" id="nav-bar">
                <nav class="nav">
                    <div>
                        <span class="nav_logo-name">Menu</span>
                        <div class="nav_list">
                            <a href="#" class="nav_link active">
                                <i class='bx bx-grid-alt nav_icon'></i>
                                <span class="nav_name">Catalogue</span>
                            </a>
                            <a href="#" class="nav_link active">
                                <i class='bx bx-grid-alt nav_icon'></i>
                                <span class="nav_name">Ajouter un produit</span>
                            </a>
                            <a href="#" class="nav_link">
                                <i class='bx bx-user nav_icon'></i>
                                <span class="nav_name">Ajouter une promotion</span>
                            </a>
                            <a href="#" class="nav_link">
                                <i class='bx bx-message-square-detail nav_icon'></i>
                                <span class="nav_name">Trouver un magasin</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>


<!-- Contents -->

        <div class="col-md-8 background text-center align-baseline">
            <div class="header col-md-12" id="header">
                <span> MERC'APP </span>
            </div>

            <div class="col-md-8">
                <span class="text-center">Notre catalogue de produits</span>
            </div>

            <div class ="card col-md-6 ">
                <div class="row">
                    <div class="col-md-3 image">
                        <img class="img-circle" src="./image_1_legumes.jpg">
                    </div>
                    <div class="col-md-3 border product">
                        <p>Product1</p>
                    </div>
                    <div class="col-md-3 align-middle border category">
                        <p>Category1</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 border description_product">
                        <p>Description of product 1</p>
                    </div>
                    <div class="col-md-3 border price">
                        <p>50€</p>
                    </div>
                </div>
            </div>

            <div class ="card col-md-6">
                <div class="row">
                    <div class="col-md-3 image">
                        <img class="img-circle" src="./image_1_legumes.jpg">
                    </div>
                    <div class="col-md-3 border product">
                        <p>Product1</p>
                    </div>
                    <div class="col-md-3 align-middle border category">
                        <p>Category1</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 border description_product">
                        <p>Description of product 1</p>
                    </div>
                    <div class="col-md-3 border price">
                        <p>50€</p>
                    </div>
                </div>
            </div>

             <div class ="card col-md-6">
                <div class="row">
                    <div class="col-md-3 image">
                        <img class="img-circle" src="./image_1_legumes.jpg">
                    </div>
                    <div class="col-md-3 border product">
                        <p>Product3000</p>
                    </div>
                    <div class="col-md-3 align-middle border category">
                        <p>Category3000</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 border description_product">
                        <p>Description of product 3000</p>
                    </div>
                    <div class="col-md-3 border price">
                        <p style="vertical-align: center;">5000€</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="lateral-col col-md-2 side-background"></div>
    </div>

<!-- Footer -->
    <footer>
        <div class="lateral-col col-md-2 side-background"></div>
        <div class="col-md-8 footer footer-below">
            <div class="row">
                <div class="socials col-md-6">
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Linkedin</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="/">Politique de confidentialité</a>
                    </div>
                    <div>
                        <a href="/">Conditions générales de vente</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="lateral-col col-md-2 side-background"></div>
    </footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page  -top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

</body>
</html>